.chat-main
  .chat-main__RightHeader
    .chat-main__RightHeader__group
      .chat-main__RightHeader__groupName
        .chat-main__RightHeader__group__name 
          = @group.name
        %ul.chat-main__RightHeader__group__memberList 
          %li.chat-main__RightHeader__group__memberList--Member Member：
          %li.chat-main__RightHeader__group__memberList--test
            - @group.users.each do |user|
              = user.name
    = link_to edit_group_path(@group), class: "chat-main__RightHeader__editButton" do
      = "Edit"
  .chat-main__MessageField 
    = render @messages





  .chat-main__Footer 
    = form_with model: [@group, @message], html: {class: "chat-main__Footer__Form"}, local: true do |f|
      %div.chat-main__Footer__Form__contents
        = f.text_field :content, class: 'chat-main__Footer__Form__contents__inputContent', placeholder: 'type a message'
        = f.label :image, class: 'chat-main__Footer__Form__contents__inputImage' do
          = icon('far', 'image', class: 'chat-main__Footer__Form__contents__inputImage__fa-image')
          = f.file_field :image, class: 'chat-main__Footer__Form__contents__inputImage__fa-image-before'
      = f.submit 'Send', class: 'chat-main__Footer__Form__submit'
